


{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_superuser %}
<a href="{% url 'almacen_nuevo' %}">  Almacen Nuevo   </a >
<br>
{% endif %}
<h3 style="color: blueviolet;">

    <center> ALMACEN </center>
    </h3>
{% if user.is_authenticated %}
{% for almacen in Todos_almacen %}
                  
<a href="{% url 'almacen_detalle' almacen.pk %}" >{{almacen}}  </a>
<p>{{almacen.NumeroSerie}}</p>


<div class="card" style="width: 18rem;">
    <img src="{% static 'images/aag.jpg' %}" class="card-img-top" alt="...">
    
    
    <div class="card-body">
      
      <h2 class="card-title">Nombre:{{ almacen.NumeroSerie}}</h2>
      <h3><p class="card-text">{{ almacen.Lote}}</p> </31>
      <p class="card-text"><small class="text-muted"> autor:{{ almacen}}</small></p>
     </div>
    <ul class="list-group list-group-flush">
        
{% endfor %}

{% endif %}

{% endblock content %}








