
{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags%}
<h3 >
    <h1 style="color: blueviolet;">

    <center>CREAR ENTREGA </center>

</h3>
<form action=""method="post">{% csrf_token %}
   <!-- {{ form.as_p}}-->
   {{form|crispy}}
<!--
    

   <label for="Marca">Marca</label>
   <input type="text" name="Marca">

   <br>
   <label for="Nombre">Nombre</label>
   <input type="text" name="Nombre">

   <br>
   <label for="Color">Color</label>
   <input type="text" name="Color">

   <br>
   <label for="Año">Año</label>
   <input type="text" name="Año">

   <br>
   <label for="Disponible">Disponible</label>
   <input type="text" name="Disponible">
-->
   <br>
    <input type="submit" value="Guardar" /> 
</form>
{{mensaje}}
<table id="Regitrar Vehiculo Nuevo"></table>
{% endblock content %}