{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Unidad 2</title>
</head>
<body>
    
  

    <center>
        <div class="card" style="width: 28rem;">
    <img src="{% static 'images/aag.jpg' %}" class="card-img-top" alt="...">
    
    

    <div class="card-body">
      <h5 class="card-title"><h1>Venta de Autos </h1></h5>
      <p class="card-text">Los autos son esa tecnología emocionante y segura que nos conecta con todo y con todos. Llevamos el futuro a las calles para que dejes de imaginar y salgas a manejar. Descúbrelo.
    </div>
  </div>
    </center>
  
  
    
    
{% endblock content %}