
{% extends 'base.html' %}
{% block content %}
<h3 style="color: rgb(226, 43, 202);">
    <center>UBICACION DETALLE</center>

</h3>
{% if user.is_authenticated %}
<table class="table table-dark table-striped">
    <tr> <td>Zona</td><td>CodigoPostal</td> <td>Lugar</td><td>Hora</td>
<tr>
    <td>{{Todos_Ubicacion.Zona}}</td>
    <td>{{Todos_Ubicacion.CodigoPostal}}</td>
    <td>{{Todos_Ubicacion.Lugar}}</td>
    <td>{{Todos_Ubicacion.Hora}}</td> 
  
    {% if user.is_superuser %}
   <a href="{% url 'ubicacion_editar' Todos_Ubicacion.pk %}"> Editar Ubicacion</a>

   <a href="{% url 'ubicacion_eliminar' Todos_Ubicacion.pk %}"> Eliminar Ubicacion</a>
   {% endif %}
</tr>
</table>
{% endif %}
 <!-- 
  <div class="card" style="width: 18rem;">
    <img src="https://getbootstrap.com/docs/5.2/assets/brand/bootstrap-logo-shadow.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  -->
  <!--
    <ul class="list-group list-group-flush">
    {% for comentario in Todos_Vehiculos.comentarios.all %}
    <li class="list-group-item"> {{comentario.autor}} escribio: {{comentario}}</li>
    
    {% if user.is_superuser %}

     <a href="{% url 'Comentario_eliminar' comentario.pk %}"> <button type="button" class="btn btn-info">Eliminar Comentario</button>    </a>
  
    <h1> {{ comentario.comentario }} {{comentario.pk}}</h1>
    {% endif %}

    {% endfor %}
    
    
</ul> 
  
  -->




   
  
{% endblock content %}
