
{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_superuser %}
<a href="{% url 'ubicacion_nuevo' %}">  Ubicacion Nuevo    </a >
<br>
{% endif %}
<h3 style="color: blueviolet;">

    <center> UBICACION </center>
    </h3>
{% if user.is_authenticated %}
{% for ubicacion in Todos_Ubicacion %}

<a href="{% url 'ubicacion_detalle' ubicacion.pk %}" >{{ubicacion}}  </a>
<p>{{ubicacion.Serie}}</p>


<div class="card" style="width: 18rem;">
    <img src="{% static 'images/aag.jpg' %}" class="card-img-top" alt="...">
    
    
    <div class="card-body">
      
      <h2 class="card-title">Nombre:{{ ubicacion.Zona}}</h2>
      <h3><p class="card-text">{{ ubicacion.CodigoPostal}}</p> </31>
      <p class="card-text"><small class="text-muted"> autor:{{ ubicacion}}</small></p>
     </div>
    <ul class="list-group list-group-flush">
        
{% endfor %}

{% endif %}

{% endblock content %}