{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<center>
   <h1> Login</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
        <input type="submit"></input>
</form>
<!--<p>¿Desea cambiar su contraseña ?<a class="nav-link" href="{%url 'password_change' %}">Cambiar Contraseña</a></p>
-->
<p>¿No tienes una cuenta Registrate?<a class="nav-link" href="{%url 'signup' %}">Registrarse</a></p>

<p>¿Olvidaste tu contraseña?<a class="nav-link" href="{%url 'password_reset' %}">Recuperar Contraseña</a></p>

            
</center>

{% endblock content %}
