{% load i18n %}

{% blocktrans %}Hola{% endblocktrans %} {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},

{% blocktrans %}

Está recibiendo este correo electrónico porque usted (o alguien que se hace pasar por usted)
solicitó que su contraseña sea restablecida en el {{ domain }} sitio. Si no lo hace
desea restablecer su contraseña, ignore este mensaje.
{% endblocktrans %}

{% blocktrans %}
Para restablecer su contraseña, haga clic en el siguiente enlace o cópielo y péguelo
en su navegador web:
{% endblocktrans %}

<a rel="noreferrer" href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uid token %}">
  {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uid token %}
</a>

Su nombre de usuario, en caso de que lo haya olvidado:{% endblocktrans %} {{ user.get_username }}


{% blocktrans %}Saludos{% endblocktrans %},
{{ site_name }} {% blocktrans %}Administracion{% endblocktrans %}


{# This is used by django.contrib.auth #}